In [1]:
import pandas as pd

df = pd.read_csv('./../data/gapminder.tsv', sep = '\t')

In [2]:
print(df.groupby('continent')['country'])

<pandas.core.groupby.groupby.SeriesGroupBy object at 0x0000020915423828>

In [3]:
print(df.groupby('continent')['country'].nunique())
print('='*60)
print(df.groupby('continent')['country'].unique())
print('='*60)
print(df.groupby('continent')['country'].unique()['Oceania'])
print('='*60)
print(df.groupby('continent')['country'].count())
print('='*60)
print(df.groupby('continent')['country'].count()['Africa'])

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64
============================================================
continent
Africa      [Algeria, Angola, Benin, Botswana, Burkina Fas...
Americas    [Argentina, Bolivia, Brazil, Canada, Chile, Co...
Asia        [Afghanistan, Bahrain, Bangladesh, Cambodia, C...
Europe      [Albania, Austria, Belgium, Bosnia and Herzego...
Oceania                              [Australia, New Zealand]
Name: country, dtype: object
============================================================
['Australia' 'New Zealand']
============================================================
continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
Name: country, dtype: int64
============================================================
624

In [6]:
print(df.groupby('continent')['country'].nunique())
print('='*10,'Chk','='*10)

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64
========== Chk ==========

In [8]:
uniList_continent = df['continent'].unique()
uniList_continent.sort()
print(uniList_continent)
for i in uniList_continent:

['Africa' 'Americas' 'Asia' 'Europe' 'Oceania']